@charset "UTF-8";

:root{

    --cor0:#F2EBDC;
    --cor1: #79C7D9;
    --cor2: #932AA1;
    --cor3: #9B5637;
    --cor4: #553020;
}


header{

    background-color: var(--cor4);
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 100px;
    min-width: 300px;
    
    
}

header h1{

    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 50px;
    margin: 0%;

}

header{

    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0%;
    padding: 20px;

}
body{

    background-image: linear-gradient(to bottom, var(--cor0), var(--cor1), var(--cor2), var(--cor3), var(--cor4));
    background-attachment: fixed;
    margin: 0px;
    
    

}

main{

    background-color: aliceblue;
    border: 5px solid whitesmoke;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    padding: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.405);

    min-width: 320px;
    max-width: 360px;
    margin:auto



}

main h1{

    text-align: center;
    background-color: var(--cor1);
    color: var(--cor2);
    border-radius: 5px;
}

main h2{
    text-align: center;
    background-color: var(--cor4);
    color: var(--cor0);
    border-radius: 5px;
    padding: 5px;


} 

main p{

    font-family: Arial, Helvetica, sans-serif;
    color: var(--cor4);
    text-align: justify;

}

main a{

    color: var(--cor3);
    text-decoration: none;
    background-color: var(--cor3);
    border-radius: 5px;
    padding: 2px;
}

main a:hover{

    color: var(--cor2)
}

main img{

    width: 100%;
    border-radius: 5px;
    margin: 10px;
    margin: auto;
 
}

div.video{

    background-color: var(--cor4);
    margin: 25px -25px;
    padding: 10px;
    position: relative;
    padding-left: 28%;
    padding-bottom: 50px;
    

}

div.video iframe{

    position: absolute;
    top: 5%;
    left: 5%;
    height: 90%;
    width: 90%;

    
    
}

div#LH{

    background-color: var(--cor4);
    margin: 10px -25px;
    padding: 10px;
    position: relative;
    padding-left: 28%;
    

}

#twitter-tweet{

    position: absolute;
    top: 5%;
    left: 5%;
    height: 90%;
    width: 90%;
    margin-left: 150px;

    
    
}

div{
    display: inline-block;
    width: 300px;
    margin-left:  -45px;
    margin-top: -10px;
    padding: 5px;
}

#q1{

    background-image: url(img/pattern001.png);
}


#q2{

    background-image: url(img/pattern002.png);
}


#q3{

    background-image: url(img/pattern003.png);
}

footer {

    color: whitesmoke;
    background-color: var(--cor4);
    border-radius: 5px;
    border-bottom-left-radius:0px;
    border-bottom-right-radius: 0px;

    text-align: center;
    padding-bottom: 4px;
    padding-top: 1px;
    margin-top: 1px ;
    font-family: Arial, Helvetica, sans-serif;
    

}

footer a{

    color: whitesmoke;
    text-decoration: none;
    font-style: oblique;
    
}

footer a:hover {

    color:var(--cor1);
    font-weight: bold;
    

}